{% extends '::layout.html.twig' %}

{% block content %}
    {% include '::flash_messages.html.twig' %}
    <p class="text-success">{{ 'registration.check_email'|trans({'%email%': email}) }}</p>
{% endblock %}
