# Cache, session files and logs
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/var/


# PHPUnit
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# PhpStorm
/.idea/

# Php-cs-fixer
/.php_cs.cache

# Managed by Composer
/vendor/

# Symfony web server
.web-server-pid

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/assetic/

# symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
