# Cache, session files and logs
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/var/

# Parameters
/app/config/parameters.yml

# PHPUnit
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# PhpStorm
/.idea/

# Php-cs-fixer
/.php_cs.cache

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
/web/assetic/
