<footer class="text-center">
    <div class="container">
        <a class="btn btn-primary" href="#header" role="button">Back To Top</a>
        <div class="footer_container">
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <span class="social-icon-fb"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-rss"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-linkedin"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="social-icon-dribbble"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_bottom_content">
            Copyright © 2016 Alexandre Duchêne
        </div>
    </div>
</footer>
