{% extends '::layout.html.twig' %}

{% block content %}
    {% for collection in collections %}
        <div class="col-sm-12 list-group-item">
            <div class="col-sm-3">
                {% thumbnail collection.media, 'small' with {'class': 'img-responsive center-block'} %}
            </div>
            <div class="col-sm-9">
                <h2>
                    <a href="{{ url('technique_collection_view', {'slug': collection.slug }) }}">{{ collection.name }}</a>
                </h2>
                <p>{{ collection.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
