{% extends '::layout.html.twig' %}

{% block content %}
    {% for collection in collections %}
        <div class="col-sm-12 list-group-item">
            <div class="col-sm-3">
                {% if collection.slug is not empty %}
                    <a href="{{ url('technique_collection_view', {'slug': collection.slug }) }}">
                        {% thumbnail collection.media, 'small' with {'class': 'img-responsive center-block'} %}
                    </a>
                {% else %}
                    {% thumbnail collection.media, 'small' with {'class': 'img-responsive center-block'} %}
                {% endif %}
            </div>
            <div class="col-sm-9">
                {% if collection.slug is not empty and collection.name is not empty %}
                    <h2>
                        <a href="{{ url('technique_collection_view', {'slug': collection.slug }) }}">{{ collection.name }}</a>
                    </h2>
                {% endif %}
                <p>{{ collection.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
