{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ technique.title }}</h1>
            {% include '::tags.html.twig' with {'tags': technique.tags} %}
            {% media technique.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <hr />
        <p class="post">
            {{ technique.content|raw }}
        </p>
    </article>
{% endblock %}
