{% extends '::layout.html.twig' %}

{% block content %}
    {% for style in styles %}
        <div class="col-sm-12 list-group-item">
            <div class="col-sm-3">
                {% thumbnail style.image, 'small' with {'class': 'img-responsive center-block'} %}
            </div>
            <div class="col-sm-9">
                <h2>
                    <a href="{{ url('rank_view_style', {'slug': style.slug }) }}">{{ style.title }}</a>
                </h2>
                <ul>
                    {% for tag in style.tags if tag.enabled %}
                        <li class="label label-primary">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
                <p>{{ style.content|raw }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
