{% extends '::layout.html.twig' %}

{% form_theme form 'SonataUserBundle:LogIn/Form:fields.html.twig' %}

{% block content %}
    {{ form(form) }}
    <hr/>
    <p><strong>{{ 'no_account_yet'|trans }}?<a href="{{ path('application_sonata_user_registration_register') }}" class="btn" role="button">{{ 'register_me'|trans }}</a></strong></p>
{% endblock %}
