{% extends '::layout.html.twig' %}

{% block content %}
    {% for supply in supplies %}
        <div class="col-sm-12 list-group-item">
            <div class="col-sm-3">
                <a href="{{ url('supply_view', {'slug': supply.slug }) }}">
                    {% thumbnail supply.image, 'small' with {'class': 'img-responsive center-block'} %}
                </a>
            </div>
            <div class="col-sm-9">
                <h2>
                    <a href="{{ url('supply_view', {'slug': supply.slug }) }}">{{ supply.title }}</a>
                </h2>
                <ul class="list-unstyled">
                    {% for tag in supply.tags if tag.enabled %}
                        <li class="label label-primary">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
