{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ supply.title }}</h1>
            {% include '::tags.html.twig' with {'tags': supply.tags} %}
            {% media supply.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <hr />
        <p class="post">
            {{ supply.content|raw }}
        </p>
    </article>
{% endblock %}
