{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ supply.title }}</h1>
            <ul class="list-unstyled">
                {% for tag in supply.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% media supply.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <hr />
        <p class="post">
            {{ supply.content|raw }}
        </p>
    </article>
{% endblock %}
