{% extends '::layout.html.twig' %}

{% block content %}
    <article>
        <header>
            <h1>{{ exercise.title }}</h1>
            <ul>
                {% for tag in exercise.tags if tag.enabled %}
                    <li class="label label-primary">{{ tag.name }}</li>
                {% endfor %}
            </ul>
            {% media exercise.image, 'reference' with {'class': 'img-responsive center-block'} %}
        </header>
        <p class="post">
            {{ exercise.content|raw }}
        </p>
    </article>
{% endblock %}
